td{
    border: 2px white solid;
    height: 100px;
    width: 100px;
    text-align: center;
    /* vertical-align: middle; */
    font-size:  70px;
    cursor: pointer;
    font-family: 'Space Mono', monospace;
}

#tBoard{
    border-collapse: collapse;
    /* position: absolute;1 */
    /* left: 50%; */
    /* margin-left: -155px; */
    top:50px;
    color:white;
}

body{
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/02/65/64/6557887aae97178.jpg") ;
    height: 100vh;
    width: auto;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    /* font-family: 'Space Mono', monospace; */

}

main{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-family: 'Space Mono', monospace;
}
